@use "variables" as *;
@use "mixins" as *;
// Global css here

body {
  font-family: var(--fs-base);
  font-size: var(--fs-small);
  background-color: var(--clr-background);
  color: var(--clr-text);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--ff-secondary);
  padding-inline: var(--space-s);
}

h1,
.h1 {
  font-size: var(--fs-3xl);
  padding-top: var(--space-l);
}

h2,
.h2 {
  font-size: var(--fs-2xl);
}

h3,
.h3 {
  font-size: var(--fs-extra-large);
}

p {
  padding-inline: var(--space-s);
  max-width: 75ch;
  line-height: 1.5;
}


