@use "variables" as *;
@use "mixins" as *;
// Global css here

body {
  font-family: var(--fs-base);
  color: var(--clr-text);
  background-color: var(--clr-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--ff-secondary);
}

h1,
.h1 {
  font-size: var(--fs-2xl);
}

h2,
.h2 {
  font-size: var(--fs-xl);
}

h3,
.h3 {
  font-size: var(--fs-l);
}

h4,
.h4 {
  font-size: var(--fs-m);
}

p {
  font-size: var(--fs-s);
  max-width: 75ch;
  line-height: 1.5;
  font-family: var(--ff-base);
}

.two-xs {
  font-size: var(--fs-2xs);
}

.test {
  font-size: 14px;
}