@use "variables" as *;

// Media Query Mixin
@mixin mq($w) {
  @media (min-width: $w) {
    @content;
  }
}

@mixin mobilePadding {
  padding-inline: 1.25rem;
}

@mixin desktopPadding {
  padding-inline: 3.125rem;
}

@mixin links {
  color: var(--clr-text);
  font-size: var(--fs-l);
  font-family: var(--ff-base);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}
