@use "variables" as *;
@use "mixins" as *;

.navigation {
  background-color: var(--clr-primary);
  display: flex;
  justify-content: space-between;
  @include mobilePadding;
  padding-bottom: 0.9375rem;
  @include mq($desktop) {
    @include desktopPadding;
  }

  [hidden] {
    display: none;
  }

  .logo {
    width: 5.6875rem;
    height: 1.5rem;
    margin-top: 1.3125rem;
    @include mq($desktop) {
      margin-top: 2.125rem;
    }
  }

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin-top: 1.0625rem;
  }

  ul {
    position: absolute;
    background-color: var(--clr-primary);
    left: 0;
    top: 4.75rem;
    height: calc(100vh - 4.75rem);
    width: 100vw;
    padding-top: 1.9375rem;
    padding-inline-start: 0;
    margin-top: 0;
    list-style: none;
    @include flex-col-center;
    @include mq($desktop) {
        position: static;
        padding-top: 2rem;
        height: fit-content;
        flex-direction: row;
        max-width: fit-content;
    }
  }

  a {
    @include links;
  }

  .smiley-logo {
    width: 9.1875rem;
    padding-top: 2rem;
  }
}
