@use "variables" as *;
@use "mixins" as *;

.section_1_hero {
  background-color: var(--clr-primary);
  padding-bottom: 2.5rem;
  @include mobilePadding;
  @include mq($desktop) {
    @include desktopPadding;
    padding-bottom: 7.6875rem
  }

  header {
    max-width: 90rem;
    margin: 0 auto;
    @include mq($phonePortrait) {
      width: 70%;
      margin: 0 auto;
    }
    @include mq($desktop) {
      width: 100%;
      margin: 0;
      display: grid;
      grid-template-columns: 60% 1fr;
      grid-template-areas:
      "title-hero shrimp-img"
      "p-hero shrimp-img"
      "btn-hero shrimp-img";
    }
  }

  h1 {
    margin: 0;
    padding: 3.125rem 0 0 0;
    max-width: 50rem;
    @include mq($desktop) {
      padding-top: 6.25rem;
      grid-area: title-hero;
    }
  }

  p {
    margin: 0;
    padding-top: 0.75rem;
    position: relative;
    z-index: 1;
    @include mq($phonePortrait) {
      position: static;
      max-width: 37.5rem;
    }
    @include mq($desktop) {
      padding-top: 1.1875rem;
      grid-area: p-hero;
    }
  }

  .shrimp-img {
    width: 16.25rem;
    margin-left: 3.6rem;
    position: relative;
    bottom: 3.5rem;
    transform: rotate(-2.66deg);
    @include mq($phonePortrait) {
      position: static;
      width: 50%;
      max-width: 31.25rem;
      margin-top: 2rem;
      margin-inline: 2rem;
    }
    @include mq($desktop) {
      width: 31.25rem;
      grid-area: shrimp-img;
      margin-top: 6.75rem;
    }
  }

  .smiley-logo-hero {
    display: none;
      @include mq($desktop) {
        display: block;
        position: absolute;
        left: 40.5rem;
        top: 18.5rem;
      }
  }

  a {
    font-size: 1.25rem;
    display: block;
    text-transform: uppercase;
    background-color: var(--clr-text);
    color: var(--clr-neutral);
    padding: .75rem .75rem;
    text-decoration: none;
    position: relative;
    text-align: center;
    bottom: 1.5rem;
    width: 100%;
    @include mq($phonePortrait) {
      position: static;
      width: 20.875rem;
      font-size: 1.33rem;
      margin-top: 2rem;
    }
  }

}
