@use "variables" as *;
@use "mixins" as *;

.we-are-different-section {
    position: relative;
    width: 100%;
    min-height: 700px;
    overflow: hidden;
    margin-top: 10rem;

.image-kitchen-different {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    position: relative;
    margin-top: 1rem;
    @include mq($phonePortrait) {
        width: 375px;
        height: 375px;
        margin: 0 auto;
    }
    @include mq($desktop) {
        width: 100%;
        height: auto;
    }
}

.image-text-container-different {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    gap: var(--fs-2xs);
    text-align: center;
    width: 80%;
    max-width: 805px;
    z-index: 2;

    h2 {
        color: var(--clr-neutral);
        font-size: var(--fs-xl);
        margin: 0;
        letter-spacing: -0.045rem;
        text-transform: uppercase;
        @include mq($phonePortrait) {
            font-size: 2.5rem;
        }
        @include mq($desktop) {
            font-size: 40px;
        }
    }

    .play-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;

    img {
        width: 80px;
        height: 80px;
        @include mq($phonePortrait) {
            width: 60px;
            height: 60px;
        }
            @include mq($desktop) {
                width: 80px;
                height: 80px;
            }
        }
    }
}

.organic-icon {
    position: absolute;
    left: 1rem;
    bottom: 2rem;
    z-index: 3;
    pointer-events: none;
    transform: rotate(-2.66deg);

    img {
        width: 100px;
        height: auto;
        @include mq($phonePortrait) {
        width: 80px;
    }
            @include mq($desktop) {
                width: 100px;
            }
        }
    }
}