@use "variables" as *;
@use "mixins" as *;

.we-are-jo-section {
  @include mobilePadding;
  @include mq($phonePortrait) {
    margin: 0 auto;
  }
  @include mq($desktop) {
    @include desktopPadding;
  }

  h2 {
    color: var(--clr-primary);
    margin: 0;
    @include mq($desktop) {
      letter-spacing: -0.045rem;
    }
  }

  p {
    color: var(--clr-primary);
  }

  .header-primary {
    margin-top: 4rem;
    @include mq($desktop) {
      width: 60.625rem;
      position: relative;
      z-index: 2;
    }
  }

  .header-secondary {
    margin-top: 2rem;
  }

  .image-kitchen {
    @include mq($phonePortrait) {
      display: block;
      margin: 0 auto;
      width: 40rem;
    }
    @include mq($desktop) {
      object-fit: cover;
    }
  }

  .description-text {
    margin: 1rem 0 0 0;
  }

  .image-caption-container {
    margin-top: 2rem;
    @include mq($desktop) {
      width: 40rem;
      margin: -11.5rem 0 0 43.5rem;
      display: flex;
      flex-direction: column;
      gap: var(--fs-2xs);
    }
  }

  .image-caption {
    margin-top: 0.75rem;
    font-size: var(--fs-3xs);
    text-align: center;
  }

  .image-text-container {
    margin-top: 4rem;
    @include mq($desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      margin-top: 12.5rem;
    }
  }

  .text-container {
    max-width: 50rem;
    margin-inline: auto;
    @include mq($desktop) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: var(--fs-2xs);
      margin-left: 9rem;
    }
  }

  .image-open {
    @include mq($phonePortrait) {
      display: block;
      margin: 0 auto;
      width: 40rem;
    }
    @include mq($desktop) {
      object-fit: cover;
      display: block;
    }
  }
}
