@use "variables" as *;
@use "mixins" as *;

.section_6_some_reviews {
  margin: 3.125rem 0 0 0;
  @include mobilePadding;
  @include mq($desktop) {
    @include desktopPadding;
    margin: 6.4375rem 0 0 0;
  }

  h2 {
    color: var(--clr-primary);
    margin: 0;
  }

  .review-paragraph {
    color: var(--clr-primary);
    margin: 1rem 0 0 0;
  }

  .review-grid-container {
    margin: 3.9375rem 0 4rem 0;
    columns: 27.1875rem;
    column-gap: 0.75rem;

    @include mq($desktop) {
      margin: 3.75rem 0 9.6875rem 0;
    }
  }

  .review-card {
    background-color: var(--clr-neutral);
    margin-top: 0.75rem;
    margin-inline: auto;
    break-inside: avoid;
    max-width: 27.1875rem;
  }

  .set-1 {
    display: none;
    @include mq($phonePortrait) {
      display: block;
    }
  }

  .set-2 {
    display: none;
    @include mq($phonePortrait) {
      display: block;
    }
  }

  .fade-in {
    animation: fadeIn 2.5s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .icon-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      margin: 1.25rem 0 0 1.25rem;
      @include mq($desktop) {
        margin: 1.5rem 0 0 1.5rem;
      }
    }

    p {
      font-size: clamp(0.875rem, 0.7679rem + 0.5357vw, 1.25rem);
      font-weight: 600;
      text-transform: uppercase;
      margin: 1.5625rem 0 0 1rem;
      width: fit-content;
      @include mq($desktop) {
        margin: 2.0625rem 0 0 1.0625rem;
      }
    }
  }

  .review-text {
    margin: 0.75rem 0 0 4.25rem;
    padding-bottom: 1.25rem;
    font-size: 1rem;
    @include mq($desktop) {
      margin: 1rem 0 0 5.5625rem;
      padding-bottom: 1.5rem;
    }
  }

  button {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: var(--fs-m);
    font-weight: 600;
    background-color: var(--clr-secondary);
    width: 100%;
    padding: 0.75rem 4rem;
    @include mq($phonePortrait) {
      display: none;
    }
  }

  button:hover {
    background-color: var(--clr-text);
    color: var(--clr-neutral);
    cursor: pointer;
  }
}

/* .review-img {
  margin-top: 1.25rem;
  width: 2rem;
  height: 2rem;
}

.review-card .review-handle {
  // display: inline;
  font-size: var(--fs-2xs);
  font-weight: 500;
  margin: 0;
  // position: absolute;
  padding-top: 1.6rem;
  padding-left: 1rem;
}

.review-paragraph {
  font-size: var(--fs-xs);
  padding-left: 3rem;
  padding-right: 1rem;
  margin-bottom: 0;
  // position: absolute;
  margin-top: 0;
  top: 3.5rem;
}

.some-reviews-h2 {
  color: var(--clr-primary);
  width: 22rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.some-reviews-p {
  color: var(--clr-primary);
  width: 22rem;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.review-card {
  background-color: var(--clr-neutral);
  padding-left: 1.25rem;
  width: 22rem;
  max-width: 98%;
  margin-left: auto;
  margin-right: auto;
  align-items: start;
  position: relative;
}

.review-grid-container {
  justify-content: center;
  display: grid;
  width: 22rem;
  max-width: 98%;
  grid-template-columns: 1fr;
  grid-template-rows: 9.4rem 12.4rem 12.4rem 3.4rem 9.4rem 8rem;
  grid-gap: 1rem;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  grid-template-areas:
    "uideli"
    "andreea"
    "mathew"
    "load-more-button"
    "jessica"
    "we-love";
}

.uideli {
  grid-area: uideli;
}
.uideli2 {
  grid-area: uideli2;
}
.jessica {
  grid-area: jessica;
}
.jessica2 {
  grid-area: jessica2;
}
.we-love {
  grid-area: we-love;
}
.we-love2 {
  grid-area: we-love2;
}
.andreea {
  grid-area: andreea;
}
.maria {
  grid-area: maria;
}
.mathew {
  grid-area: mathew;
}
.load-more-button {
  grid-area: load-more-button;
}

.uideli2,
.jessica,
.jessica2,
.we-love2,
.maria,
.we-love {
  display: none;
}

.jessica {
  margin-top: 1rem;
}

.load-more-button {
  font-family: var(--ff-base);
  font-size: var(--fs-m);
  font-weight: 500;
  border-radius: 0;
  margin-top: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  border: 0.1rem solid #000000;
  width: 22rem;
  height: 3.5rem;
  max-width: 98%;
}

.load-more-button:hover {
  background-color: #000000;
  color: var(--clr-secondary);
}

.load-more-button:active {
  box-shadow: 0.5rem 0.5rem 1.75rem 0.1rem #0000003d;
  transform: translateY(0.25rem);
}

#load-more-cards-1 {
  display: none;
}

#load-more-cards-2 {
  display: none;
}

@media (min-width: 45em) {
  .some-reviews-h2 {
    width: 40rem;
  }

  .some-reviews-p {
    width: 40rem;
    margin: 0 auto 0 auto;
  }

  .review-grid-container {
    grid-template-columns: 22rem 22rem 22rem;
    grid-template-rows: 12rem 12rem 12rem;
    grid-gap: 1rem;
    grid-template-areas:
      "uideli andreea mathew"
      "jessica maria we-love2"
      "we-love jessica2 uideli2";
  }

  .uideli2,
  .jessica,
  .jessica2,
  .we-love,
  .we-love2,
  .maria {
    display: block;
  }

  .load-more-button {
    display: none;
  }
  #load-more-cards-1 {
    display: block;
  }

  #load-more-cards-2 {
    display: block;
  }
}

@media (min-width: 90em) {
  .some-reviews-p {
    color: var(--clr-primary);
    margin-bottom: 0;
  }
  .review-grid-container {
    grid-template-columns: 22rem 22rem 22rem;
    grid-template-rows: 12rem 12rem 12rem;
    grid-gap: 1rem;
    grid-template-areas:
      "uideli andreea mathew"
      "jessica maria we-love2"
      "we-love jessica2 uideli2";
  }

  .load-more-button {
    display: none;
  }
}
 */
