@use "variables" as *;
@use "mixins" as *;


.banner {
    background-color: var(--clr-accent);  
    text-wrap: nowrap;
}

.banner-on-top {
    transform: rotate(-2.71deg);
}

.banner-underneath {
    transform: rotate(2.66deg);
}

.banner p {
    display: inline-block;
    font-size: var(--fs-xs);
    font-weight: 500;
    color: var(--clr-primary);
}

.orange-star {
    width: 1rem;
    height: 1rem;
}