// media queries
$phonePortrait: 24em;
$tablet: 48em;
$desktopSmall: 73.125em;
$desktop: 90em;

:root {
  // font-family
  --ff-base: "Oswald", sans-serif; // font weight 200 to 700
  --ff-secondary: "Bowlby One"; // font weight only 400

  // font-sizing
  --fs-3xs: clamp(0.75rem, 0.4859rem + 1.1268vw, 1.5rem); // 12px to 24px
  --fs-2xs: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem); // 14px to 16px
  --fs-xs: 1rem; // 16px -- no change
  --fs-s: clamp(1.125rem, 0.923rem + 0.5634vw, 1.5rem); // 18px to 24px
  --fs-m: 1.25rem; // 20px -- no change
  --fs-l: 1.5rem; // 24px -- no change
  --fs-xl: clamp(2rem, 1.1197rem + 3.7559vw, 4.5rem); // 32px to 72px
  --fs-2xl: clamp(2.5rem, 0.9595rem + 6.5728vw, 6.875rem); // 40px to 110px

  // colors
  --clr-text: #000000;
  --clr-primary: #ee4a1e;
  --clr-secondary: #f6f2f0;
  --clr-accent: #eef866;
  --clr-neutral: #ffffff;
}
